.todo-item {
  &__container {
    margin: 5px 10px;
    display: flex;
    color: #555;
    align-items: center;
    background: #dcdcdc;
    padding: 5px;
    border-radius: 5px;
  }

  &__text {
    margin: 5px 25px 5px 5px;

    &.is-complete {
      text-decoration: line-through;
    }
  }

  &__delBtn {
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;

    &:hover {
      cursor: pointer;
      background-color: darken(red, 10%);
    }
  }
}
